.allData{
    /* text-align: center;
    display: block;
    border: solid 2px black; */
    text-align: center;
}


.space{
    width: 50px;
  }

  .temp{
      font-size: 45px;
  }

  .Line{

      display: block;
      border: rgb(138, 158, 152) 2px solid;
      margin: 5px;
      width: 93%;
      
  }

  .Line2{

    display: block;
    border: rgb(186, 199, 198) 2px solid;
    margin: 8px;
    width: 70%;
    
}

.headerName{
    display: block;
    border: rgb(230, 230, 230) 2px solid;
    margin: 55px 15px;
    box-shadow: 2px 2px rgb(185, 180, 180);
    height: 40px ;
    border-radius: 10px;
    
}



table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 12px;
}

th{
    border: solid 2px black;
    border-spacing: 12px;
}

.timeTr{
    display: block;
    border-top: 2px solid black;
    width: 80%;
    text-align: center;
    margin: 0px 0px 5px;
}

.sunSet{
    height: 60px;
    width: 60px;
    margin: -15px 10px -20px 30px;
}

.sunRise{
    height: 60px;
    width: 60px; 
    margin: -15px 10px -20px ;
}

.humidity{
    height: 38px;
    width: 38px; 
    margin: -15px 10px -12px 30px;
}
